--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_pip]==0.4.20
equinox==0.11.2
tiktoken==0.5.1
optax==0.1.7
jmp @ git+https://github.com/deepmind/jmp@5dfab8e2e3f086740bed961f8a18402e5eb4da12
tqdm==4.66.1
transformers==4.35.2
tiktoken==0.5.1
